/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/
.leader-table{
  background-color: white !important;
  width: 90%;
  margin: 10px auto 0 auto;
}
.stat-element{
  padding: 3px !important;
}
#leader-widget {
  padding: 10px;
}
.leader-category {
  font-size: 18px;
  font-weight:bold;
}
.leader-name {
  font-size: 24px;
  font-weight:bold;
  color: rgb(255,153,0);
  padding:5px 0px;
}
.leader-stat {
  /*  nothing yet */
}
.filter-thead{
  border-top: 2px solid #ddd !important;
  vertical-align: middle !important;
  font-size: 1.2em;
}
.filter-button{
  height: 160px;
  width: 100%;
  margin-bottom: 10px;
}
.filter-button-main{
  white-space: normal;
  height: 160px;
  width:78%;
}
.filter-button-dropdown {
  height: 160px;
  width: 22%;
}
.check-button {
  margin-left: 1px;
  margin-top: 3px;
  padding: 0 !important;
  min-width: 24px !important;
}
.check-icon {
  height:10px;
  width: 10px;
  margin: 4px;
}
.my-modal {
  display: block;
}

.filter-modal-header{
  position: absolute !important;
  width: 100%;
}
.modal-backdrop {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7 !important;
}
.filter-modal-content{
  position: absolute;
  margin-top: 40px;
  height: 100%;
  overflow-y: scroll;
}
/*@media (max-width:550px){
  .modal-content{
    position:absolute;
    height:100%;
    top:0 !important;
    right:0 !important;
    bottom:0 !important;
    left:0 !important;
  }
  .filter-modal-content{
    position: relative;
    height: 100%;
  }
  .filter-modal-header{
    top: -40px;
    z-index: 1;
  }
}*/
.button-cell{
  width: 12%;
  text-align: center;
}
#leader-widget {
  padding: 10px;
}
.leader-category {
  font-size: 18px;
  font-weight:bold;
}
.leader-name {
  font-size: 24px;
  font-weight:bold;
  color: rgb(255,153,0);
  padding:5px 0px;
}
.leader-stat {
  /*  nothing yet */
}
.team-icon {
  padding-top: 6px;
}
.stat-pills {
  padding: 4px;
  border-bottom-style:solid;
  border-bottom-width: 1px;
  border-bottom-color:rgb(213,213,213);
}
.navbar-header{
  width: 100%;
  height:50px;
}
.navbar-header .ua-logo {
  height: 21px;
  display: inline-block;
  margin: 14px;
  width: 120px;
  float: right;
}
.navbar-header .ua-logo.small-screen {
  height: 15px;
  margin: -5px 0 10px 25px;
  float: left;
}
.nav-header-container .navbar-header .ua-logo img {
  height: 100%;
}
.filter-close-icon {
  top:5px;
  right:5px;
  position: absolute;
}
.icon-hovered {
  color: rgb(255,153,0) !important;
}
.filter-message-modal{
  padding-left: 50px;
  left: 18%;
  width: 18%;
  top:  24%;
  position: absolute;
  z-index: 100;
}
.filter-message-content{
  min-height:100px;
  padding:8px !important;
}
.filter-message-tournament{
  font-weight: bold;
  font-size: 1.1em;
}
.filter-message-game {
  margin-left: 15px;
}
.button-cell {
  padding:3px !important;
}
.filter-popover {
  left: 100%;
  width: 100%;
  display: block;
}
.filter-popover-arrow {
  top:70px !important;
}
.my-loading-icon {
  position: absolute;
  top: 45%;
  left: 45%;
  text-align: center;
}
.breaks-svg {
  display: inline-block;
  min-width: 211px;
}
.points-per-break{
  text-align: center;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}
.looking-at {
  background-color: #F90 !important;
}
.wind-indicator {
  width: 260px;
  height: 130px;
  display: inline-block;
  float: right;
  margin-bottom: 10px;
}
.playing-field {
  position: absolute;
  display: inline-block;
  width:250px;
  height:100px;
  background-color: #D1D2D4;
  border-radius: 5px;
}
.playing-field-proper{
  position: absolute;
  margin-left: 50px;
  margin-right: 50px;
  width: 150px;
  height: 100px;
  border-left: 3px solid #939598;
  border-right: 3px solid #939598;
}
.arrow-container{
  opacity:.8;
  position: absolute;
  margin-left: 37px;
  margin-top: 35px;
}
.wind-speed{
  text-shadow: 2px 2px darkgreen;
  width:105px;
  position: absolute;
  text-align: center;
  font-size:100px;
  top:30%;
  right:15%;
  left:15%;

}
.game-leaders{
  display: inline-block;
  min-width: 300px;
  width: 50%;
  margin-bottom:30px;
}
.endzone{
  opacity: .4;
  position: absolute;
  color: white;
  font-size: 30px;
  top: 37px;
  padding:0;
  margin: 0px;
}
.well-small{
  margin-bottom: 3px;
  padding:0 !important;
}
.download-button{
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.filter-modal-select-button{
  width:100px;
  margin:0 5px 0 5px;
}
.filter-modal-button-header{
  width:233px;
  margin-left:auto;
  margin-right:auto;
  padding:5px;
}
.transparent{
  z-index: 0;
  opacity:0 !important;
}
.draggable {
  position:fixed;
  width:100px;
  z-index: 10;
}
.line-carousel {
  width:95%;
  padding:10px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
}
.line-container {
  position: relative;
  vertical-align: top;
  overflow: hidden;
  margin:10px;
  min-height:300px;
  border: 1.5px solid #D5D5D5;
  border-radius: 7px;
  box-shadow: 2px 2px 10px #888888;
}
.line-drop-box {
  border: 1px solid #D5D5D5;
  border-radius: 5px;
  background-color: transparent;
  margin:10px auto 10px auto;
  height: 230px;
  box-shadow: inset 0 0 6px #888888;
  margin-left: 13px;
  margin-right: 13px;
}
.line-close-button {
  float: right;
  margin: 2px;
  color:#D5D5D5 !important;
}
.line-close-button:hover {
  color:#555555 !important;
}
.player-in-line{
  text-align: center;
  margin: 5px;
  font-size: 1.2em;
  border-bottom: 1px solid #D5D5D5;
}
.line-header{
  background: linear-gradient( #fafafa 0%, #e9e9e9 100%);
  border-bottom: 1px solid #D5D5D5;
  font-size: 13px;
  text-align: center;
}
.line-header h3 {
  top: 5px;
  position: relative;
  left: 10px;
  display: inline-block;
  margin-right: 3em;
  font-size: 15px;
  font-weight: 400;
  color: #555;
  line-height: 18px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.line-players-list {
  height: 270px;
  padding: 10px 10px 20px 10px;
}
.point-score {
  font-weight: bold;
}
.point-score-us {
  color: green;
  font-style: bold;
}
.point-score-them {
  color: red;
  font-style: bold;
}
.point-minutes {
  font-style: italic;
}
.player-token {
  background: transparent;
  border-radius: 25px;
  margin: 2px;
}
.player-token:focus{
  outline: none !important;
}
.player-token.selected {
  background-color: #ebebeb;
  border-color: #adadad;
}
.player-token.faded {
  opacity: .5;
}
.drag-line-text {
  position: absolute;
  top: 40%;
  left: 25%;
  right: 25%;
}
.new-line-button {
  position: absolute;
  box-shadow: 2px 2px 10px #888888;
  top: 30%;
  margin-left: 25px;
  width: 140px;
  height: 140px;
  border: 1px solid #dddddd;
  border-radius: 100px;
  text-align: center;
  display: inline-block;
}
.new-line-button:hover{
  box-shadow: inset 2px 2px 10px #888888;
}
.new-line-button-contents {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.new-line-button-contents:hover {
  top: -1%;
  left: -1%;
}
.new-line-button-text{
  position: absolute;
  top: 42%;
  left: 16%;
}
.new-line-button-icon {
  left: 14%;
  top: 7%;
  position: absolute;
  font-size: 10em;
  color: #F5F5F5;
}
.target-mouseover-tooltip {
  position:fixed;
  z-index:10;
  visibility: hidden;
  padding: 0 5px 0 5px;
  background: linear-gradient(#fafafa 0%, #e9e9e9 100%);
  box-shadow: 2px 2px 10px #888888;
}
.carousel-container {
  width: 100%;
  padding: 10px;
  height: 800px;
  position: absolute;
  overflow-x: scroll;
}
.fake-link:hover {
  text-decoration: underline;
}
.hidden {
  display: none;
}
.noscroll {
  overflow:hidden !important;
}
.mobile-game-loading-page {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
}
.dropdown-menu {
  display: inline-block;
}
.stat-header {
  max-width: 17%;
  word-wrap:break-word;
}
.my-modal {
  left: 35%;
  right: 35%;
  top: 10%;
  bottom: 10%;
  position: absolute;
  z-index: 1040;
  background: white;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 5px;
}
.feedback-modal{
  position: fixed;
  background: white;
  z-index: 999999;
  border: 2px solid gray;
  border-radius: 30px;
  padding: 20px;
}
.feedback-modal > .icon {
  position: absolute;
  top: 15px;
  right: 15px;
}
.feedback-token{
  position: fixed;
  right: -25px;
  bottom: 10%;
  width:75px;
  height:50px;
  border-radius: 20px 20px 0 0;
  border: 1px solid gray;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  text-align: center;
  line-height: 40px;
  z-index:3;
  background-color: #F90;
  color: white;
  font-outline: .5px;
}
.feedback-token:hover{
  box-shadow: 2px 2px 10px #888888;
}
.email-modal{
  top:15%;
  bottom:15%;
  left:25%;
  right:25%;
}
.invalid{
  border-color: red;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px red;
  box-shadow: inset 0 1px 1px red;
}
.player-name{
  padding: 5.5px !important;
}
.no-link {
  color: inherit;
}
.disable-games{
  background: transparent;
  color: rgb(209, 209, 209);
}
.target-map-key{
  position: absolute;
  top: 50px;
}
.key-description{
  display: inline-block;
  width: 85px;
  vertical-align: top;
  height: 1.3em;

}
.key-indicator{
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  border: 1px solid black;
}
.pie-chart-container{
  display:inline-block;
  margin:10px;
}
.stat-header > a {
  word-break: break-word;
}
.line-through{
  color:#888 !important;
  text-decoration: line-through !important;
}
.stats-tables > div > p {
  margin:5px 0 3px 10px !important;
}
.nav-header-container {
  position: relative;
}
.flow-map-pointers {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  text-align: center;
}
.flow-map-pointers > div {
  display: inline-block;
  width: 19%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.centered{
  text-align: center;
}
.welcome-banner {
  max-width: 375px;
  width: 90%;
}
.with-footer{
  margin-bottom: 53px;
}
div[ng-view]{
  min-height: 100%
}
.ellipsed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.switch-back {
  color: rgb(255, 153, 0);
  position: absolute;
  right: 20px;
  top: 80px;
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 50px;
}
.switch-back:hover{
  color: rgb(255, 153, 0);
}
.chrome-style {
    list-style: none;
    margin: 10px 0 10px;
    padding: 0 15px;
    line-height: 24px;
    height: 26px;
    overflow: hidden;
    font-size: 12px;
    font-family: verdana;
    position: relative;
}
.chrome-style li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #AAA;
    background: #D1D1D1;
    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 20px;
}
.chrome-style a {
    color: #555;
    text-decoration: none;
}
.chrome-style li.chrome-style-selected {
    background: #FFF;
    color: #333;
    z-index: 2;
    border-bottom-color: #FFF;
}
.chrome-style:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}
.chrome-style li:before,
.chrome-style li:after {
    border: 1px solid #AAA;
    position: absolute;
    bottom: -1px;
    width: 5px;
    height: 5px;
    content: " ";
}
.chrome-style li:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #D1D1D1;
}
.chrome-style li:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #D1D1D1;
}
.chrome-style li.chrome-style-selected:before {
    box-shadow: 2px 2px 0 #FFF;
}
.chrome-style li.chrome-style-selected:after {
    box-shadow: -2px 2px 0 #FFF;
}
.bubble-pie {
  margin-top: 25px;
}
.points-played-message {
  text-align: center;
}
.points-played-message b {
  color: black;
}