<div class="extra">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>General</h4>
                <ul>
                    <li><a href="http://www.ultimate-numbers.com/calcs.html">iUltimate Calculations</a></li>
                    <li><a href="http://www.ultimate-numbers.com/">About iUltimate</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Support</h4>
                <ul>
                    <li><a href="mailto:support@ultimate-numbers.com">Send a suggestion</a></li>
                    <li><a href="mailto:support@ultimate-numbers.com">Report a problem</a></li>
                </ul>
            </div> <!-- /span3 -->
            <div class="col-md-4">
                <h4>Personal</h4>
                <ul>
                    <li><a href="http://www.ultimate-numbers.com/privacy.html">Privacy Policy</a></li>
                </ul>
            </div> <!-- /span3 -->
        </div> <!-- /row -->
    </div> <!-- /container -->
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div id="footer-copyright" class="col-md-6">
            © 2014 Summit Hill Software.
            </div> <!-- /span6 -->
        </div> <!-- /row -->
    </div> <!-- /container -->
</div>