<div class="pull-right header-icon-container">
  <b  ng-click="startSharing()" class="hidden-phone"><a>Share</a></b>
  <i class="icon-share"  ng-click="startSharing()"></i>
</div>
<div class='modal-backdrop' ng-if="sharingModalIsOpen"></div>
<div class="modal" style="display: block;"  ng-if="sharingModalIsOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="stopSharing()" aria-hidden="true">×</button>
        <h4 class="modal-title">Sharing is Caring!</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-2">
          <label>Link</label>
        </div>
        <div class="col-md-10">
          <input class="input-block-level" type="text" ng-model="shareUrl" style="line-height:1em;">
        </div>
      </div>
      <div class="col-md-12">
        <div class="share-buttons" ng-if="shareUrl">
          <a ng-href="https://www.reddit.com/submit?url={{escapeUrl(shareUrl)}}"><img src="images/share_buttons/reddit_32.png"></a>
          <a ng-href="https://twitter.com/share?url={{escapeUrl(shareUrl)}}&hashtags=ultiAnalytics,{{teamName}}"><img src="images/share_buttons/twitter_32.png"></a>
          <a ng-click="fbShare()"><img src="images/share_buttons/facebook_32.png"></a>
          <a ng-href="https://plus.google.com/u/0/share?url={{escapeUrl(shareUrl)}}"><img src="images/share_buttons/googleplus_32.png"></a>
        </div>
      </div>
      <div class="modal-footer">
         <button class="btn btn-mini btn-default" ng-click="stopSharing()">Done</button>
      </div>
    </div>
  </div>
</div>