<div class="main-view">
  <div title-bar></div>
  <div nav-bar page="'line'"></div>
  <feedback></feedback>
  <div loading="loading" style="text-align:center;"></div>
  <div class="main" ng-if='!loading'>
    <div class="container">
      <div class="row">
        <stat-filter></stat-filter>
        <div class="col-md-10">
          <div class="widget stacked widget-table">
            <div class="widget-header">
              <span class="icon-list-alt"></span>
              <h3>Players</h3>
            </div>
            <div class="widget-content" style="text-align:center;padding: 2px;">
              <button ng-repeat="player in players" draggable="true" item="player" on-drag="setDragging" class="btn btn-default player-token" ng-click="addPlayerToSelected(player)" ng-class="{selected: _contains(selectedLineView.selectedLine.players, player)}">{{player}}</button>
            </div>
          </div>
        </div>
        <div class="widget stacked widget-table col-md-12">
          <div class="widget-header">
            <span class="icon-list-alt"></span>
            <h3>Lines</h3>
          </div>
          <div class="widget-content">
            <!-- @todo Make all this shit work with bootstrap. I can't believe I forgot to already.-->
            <div ng-repeat="lineView in lineViews" ng-class="'col-md-' + floor(12 / lineViews.length)" ng-click="selectLineView(lineView)">
              <ul class="chrome-style">
                <li ng-class="{'chrome-style-selected': line === lineView.selectedLine}" ng-repeat="line in lineView.lines track by $index" ng-click="lineView.selectLine(line)"><a>{{ line.players.join(', ') || 'No Data'}}</a></li>
                <li ng-click="lineView.addLine()"><a>+</a></li>
              </ul>
              <div class="row">
                <div class="col-md-6">
                  <div class="line-container" droppable on-drop="lineView.selectedAddPlayer" dragging="dragging">
                    <div class="line-header">
                      <h3 ng-show="!isSelectedLineView(lineView)">Players</h3>
                      <h3 ng-show="isSelectedLineView(lineView)"><b>Selected</b></h3>
                    </div>
                    <div class="line-players-list">
                      <div class="line-drop-box">
                        <div class="shadowy">
                          <div class="player-in-line" ng-repeat="player in lineView.selectedLine.players">
                            <span>{{player}}</span>
                            &nbsp;&nbsp;
                            <span class="icon-trash line-close-button" ng-click="lineView.selectedLine.removePlayer(player)"></span>
                          </div>
                          <div ng-if="!lineView.selectedLine.players.length" style="text-align:center;">
                            <span class="drag-line-text">
                              <span>Drag </span>
                              <span ng-if="isSelectedLineView(lineView)">or click </span>
                              <span>a player onto the line!</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  We are the team stats of course!
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  connections stats go here!
                </div>
                <div class="col-md-8">
                  This will be the diagram!
                </div>
              </div>

              <!--
                  <table ng-show="line.players.length" class="table table-striped">
                    <tr>
                      <td><b>Points Played Together<b></td><td><b>{{line.stats.consideredPoints.length}}<b></td>
                    </tr>
                    <tr>
                      <td>Scoring Percentage</td><td>{{line.stats.scoringPercentage | hundredths}}</td>
                    </tr>
                    <tr>
                      <th>Connections</th>
                      <th>{{line.stats.connections.total}}</th>
                    </tr>
                    <tr ng-repeat="(connection, value) in line.stats.connections.combinations">
                      <td>{{connection}}</td>
                      <td>{{value}}</td>
                    </tr>
                    <tr>
                      <th>On Offense</th>
                      <th>{{line.stats.oPoints.length}}</th>
                    </tr>
                    <tr ng-repeat="(stat,value) in line.stats.onOffense">
                      <td>{{stat | camelCase}}</td>
                      <td>{{value | hundredths}}</td>
                    </tr>
                    <tr>
                      <th>On Defense</th>
                      <th>{{line.stats.dPoints.length}}</th>
                    </tr>
                    <tr ng-repeat="(stat,value) in line.stats.onDefense">
                      <td>{{stat | camelCase}}</td>
                      <td>{{value | hundredths}}</td>
                    </tr>
                    <tr ng-repeat="stat in line.stats.onDefense"></tr>
                  </table>
                  <h3 ng-show="!line.players.length" style="text-align:center;"><b>No Data</b></h3>
                </div>
              </div>
            </div>
               -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer></footer>
