<div class="main-view">
  <div title-bar></div>
  <div nav-bar page="'line'"></div>
  <feedback></feedback>
  <div loading="loading" style="text-align:center;"></div>
  <div class="main" ng-if='!loading'>
    <div class="container">
      <div class="row">
        <stat-filter></stat-filter>
        <div class="col-md-10">
          <div class="widget stacked widget-table">
            <div class="widget-header">
              <span class="icon-list-alt"></span>
              <h3>Players</h3>
            </div>
            <div class="widget-content" style="text-align:center;padding: 2px;">
              <button ng-repeat="player in players" draggable="true" item="player" on-drag="setDragging" class="btn btn-default player-token" ng-click="addPlayerToSelected(player)" ng-class="{selected: _contains(selectedLineView.selectedLine.players, player), faded: !selectedLineView.selectedLine.stats.datafulPlayers[player] && selectedLineView.selectedLine.stats.datafulPlayers }">{{player}}</button>
            </div>
          </div>
        </div>
        <div class="widget stacked widget-table col-md-12">
          <div class="widget-header">
            <span class="icon-list-alt"></span>
            <h3>
              <span>Lines</span>
              <explanation key="'lineInterface'"></explanation>
            </h3>
          </div>
          <div class="widget-content">
            <div ng-repeat="lineView in lineViews" ng-class="'col-md-' + floor(12 / lineViews.length)" ng-click="selectLineView(lineView)">
              <ul class="chrome-style">
                <li ng-class="{'chrome-style-selected': line === lineView.selectedLine}" ng-style="{maxWidth: 100 / lineView.numberOfLines() + '%'}" ng-repeat="line in lineView.lines track by $index" ng-click="lineView.selectLine(line)">
                  <a class="chrome-tab-content">
                    <span>{{ line.players.join(', ') || 'No Data'}}</span>
                    <i class="icon-remove" ng-click="lineView.removeLine(line)" ng-if="lineView.numberOfLines() > 1"></i>
                   </a>
                </li>
                <li ng-click="lineView.addLine()" ng-if="lineView.numberOfLines() < 9"><i class="icon-plus"></i></li>
              </ul>
              <div class="row">
                <div class="col-md-6">
                  <div class="line-container" droppable on-drop="lineView.selectedAddPlayer" dragging="dragging" ng-class="{'selected':isSelectedLineView(lineView) && lineViews.length > 1}">
                    <div class="line-header">
                      <h3 ng-show="!(isSelectedLineView(lineView) && lineViews.length > 1)">Players</h3>
                      <h3 ng-show="isSelectedLineView(lineView) && lineViews.length > 1"><b>Selected</b></h3>
                    </div>
                    <div class="line-players-list">
                      <div class="line-drop-box">
                        <div class="shadowy">
                          <div class="player-in-line" ng-repeat="player in lineView.selectedLine.players">
                            <span>{{player}}</span>
                            &nbsp;&nbsp;
                            <span class="icon-trash line-close-button" ng-click="lineView.selectedLine.removePlayer(player)"></span>
                          </div>
                          <div ng-if="!lineView.selectedLine.players.length" style="text-align:center;">
                            <span class="drag-line-text">
                              <span>Drag </span>
                              <span ng-if="isSelectedLineView(lineView)">or click </span>
                              <span>a player onto the line!</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" ng-if="lineView.selectedLine.players.length">
                <p class="points-played-message">{{lineView.selectedLine.players | linePlayers}} <b>{{lineView.selectedLine.stats.numberOfPointsConsidered}} of {{lineView.selectedLine.stats.pointsPossible}}</b> posssible points.</p>
                  <h3 class="centered">Performance</h3>
                  <table class="table">
                    <tr>
                      <th></th>
                      <th>Line</th>
                      <th>Team</th>
                    </tr>
                    <tr ng-repeat="(statType, statValue) in lineView.selectedLine.stats.teamStats">
                      <td>
                        <span>{{statType | camelCase}}</span>
                        <explanation key="statType"></explanation>
                      </td>
                      <td>{{statValue}}</td>
                      <td>{{teamStats[statType]}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="row line-stats" ng-if="lineView.selectedLine.players.length">
                <div class="col-md-4" ng-if="lineView.selectedLine.stats.connectionStats">
                  <h3 class="centered">
                    <span>Connections</span>
                    <explanation key="'connectionsTable'"></explanation>
                  </h3>
                  <p ng-if="lineView.selectedLine.stats.connectionStats === 'none'">No connections made.</p>
                  <table class="table" ng-if="lineView.selectedLine.stats.connectionStats !== 'none'">
                    <tbody ng-repeat="(players, outcomes) in lineView.selectedLine.stats.connectionStats">
                      <tr>
                        <th>{{players}}</th>
                        <th></th>
                      </tr>
                      <tr ng-repeat="(outcome, quantity) in outcomes">
                        <td>{{outcome | camelCase}}</td>
                        <td>{{quantity}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-8">
                  <h3 class="centered">
                    <span>Player Performance</span>
                    <explanation key="'playerCombinationsChart'"></explanation>
                  </h3>
                  <bubble-pie class="bubble-pie" data="lineView.selectedLine.stats.bubbleStats"></bubble-pie>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer></footer>
